@model telephonedirectory.Models.TelephoneEntry

<h2>Contact Saved</h2>

<p>Id: @Model.id</p>
<p>Name: @Model.name</p>
<p>Address: @Model.address</p>
<p>Telephone: @Model.telephone</p>
<p>Country: @Model.country</p>
<p>Province: @Model.province</p>
<p>District: @Model.district</p>
<a asp-action="Index">Back to List</a>


